/* Colores base USC */
:root {
    --usc-blue: #003da5;
    --usc-blue-light: #dbeafe;
    --usc-gray: #181717;
    --usc-light-bg: #f9fafb;
}

/* ----- TITULOS ----- */
.usc-title-primary {
    color: var(--usc-blue);
    font-size: 26px;
    font-weight: 700;
}

.usc-subtitle-primary {
    color: var(--usc-gray);
    font-size: 16px;
}

/* ----- TABS ----- */
/* Contenedor general del menú */
.usc-tabs {
    background: #ececf0;
    border-radius: 14px;
    padding: 6px;
    width: fit-content;
    margin: 0 auto; /* Centra el menú */
}

/* Cada ítem del menú */
.usc-tab-item {
    color: #000; /* negro cuando no está seleccionado */
    padding: 10px 28px; /* más ancho */
    border-radius: 12px !important;
    font-weight: 500;
    transition: 0.2s ease;
}

/* Ítem seleccionado */
.usc-tab-item.active {
    background: #003da5 !important;
    color: white !important;
    font-weight: 600;
}

/* Hover */
.usc-tab-item:hover {
    background: rgba(0, 61, 165, 0.1);
    color: #003da5;
}

/* Quita el borde azul de Bootstrap */
.nav-tabs .nav-link {
    border: none !important;
}

.nav-tabs .nav-link.active {
    border: none !important;
}


/* ----- TARJETAS ESTADISTICAS ----- */
.border-start-usc {
    border-left: 4px solid var(--usc-blue) !important;
}

.usc-card-title {
    color: #181717;
    font-size: 16px;
}

.usc-card-number {
    color: var(--usc-blue);
    font-size: 32px;
    font-weight: 700;
}

.usc-card-desc {
    color: #4a5565;
    font-size: 14px;
}

/* ----- ACCESO RÁPIDO ----- */
.usc-title-secondary {
    color: var(--usc-blue);
    font-size: 20px;
}

.usc-subtitle-secondary {
    color: var(--usc-gray);
}

.usc-quick-card {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.usc-quick-title {
    color: var(--usc-blue);
    font-size: 18px;
}

.usc-quick-desc {
    color: var(--usc-gray);
}
