html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.usc-header {
    background: #003da5;
    padding: 16px 40px;
    height: 80px;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.usc-logo {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

/* Títulos */
.usc-title-group {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.usc-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.usc-subtitle {
    color: #dbeafe;
    font-size: 14px;
}

/* Usuario */
.usc-user-info {
    display: flex;
    flex-direction: column;
}

.usc-user-name {
    color: #ffffff;
    font-size: 16px;
}

/* Botón */
.usc-btn-logout {
    background: #ffffff;
    color: #003da5;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
