@{
    ViewData["Title"] = "Panel del Usuario";
    var nombre = Context.Session.GetString("UsuarioNombre");
    var rol = Context.Session.GetString("UsuarioRol");
}

<h2>Bienvenido @nombre (@rol)</h2>
<hr />

<h3>¿Qué deseas hacer?</h3>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/Sala/Disponibles">
        🏢 Ver salas disponibles
    </a>

    <a class="list-group-item list-group-item-action disabled">
        🎒 Solicitar equipo (próximamente)
    </a>

    <a class="list-group-item list-group-item-action disabled">
        ⚠ Reportar daño (próximamente)
    </a>

    <a class="list-group-item list-group-item-action disabled">
        👨‍🏫 Solicitar asesoría (próximamente)
    </a>

    <a class="list-group-item list-group-item-action disabled">
        📘 Ver mis reservas (próximamente)
    </a>
</div>

<br />
<a class="btn btn-danger" href="/Login/Logout">Cerrar sesión</a>
