@{
    ViewData["Title"] = "Panel de Usuario";
    var nombre = Context.Session.GetString("UsuarioNombre");
    var rol = Context.Session.GetString("UsuarioRol");
}

<div class="container mt-4">

    <div class="card shadow p-4">
        <h2 class="text-center mb-3">Bienvenido, @nombre</h2>
        <h5 class="text-muted text-center">Rol: @rol</h5>
        <hr />

        <div class="row mt-4">


            @if (rol == "Normal")
            {
                <div class="col-md-4">
                    <a href="/Sala/Disponibles" class="btn btn-primary w-100 mb-3">
                        <i class="bi bi-door-open"></i> Ver salas disponibles
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="/Sala/MisSolicitudes" class="btn btn-secondary w-100 mb-3">
                        <i class="bi bi-journal-check"></i> Mis reservas
                    </a>
                </div>
            }


            @if (rol == "Coordinador")
            {
                <div class="col-md-4">
                    <a href="/Sala/Solicitudes" class="btn btn-warning w-100 mb-3">
                        <i class="bi bi-envelope"></i> Solicitudes de salas
                    </a>
                </div>
            }


            @if (rol == "Administrador")
            {
                <div class="col-md-4">
                    <a href="/Sala/Index" class="btn btn-success w-100 mb-3">
                        <i class="bi bi-gear"></i> Gestionar salas
                    </a>
                </div>
            }

        </div>
    </div>

</div>
