@model Domain.Sala


@{
    ViewData["Title"] = "Crear Sala";
}

<h2>Crear Sala</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span class="text-danger" asp-validation-for="Nombre"></span>
    </div>

    <div class="form-group mb-3">
        <label>Ubicación</label>
        <input asp-for="Ubicacion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Estado" class="control-label"></label>
        <select asp-for="Estado" class="form-control">
            <option value="">-- Seleccione estado --</option>
            <option value="Disponible">Disponible</option>
            <option value="Ocupada">Ocupada</option>
            <option value="Mantenimiento">Mantenimiento</option>
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>


    <div class="form-group mb-3">
        <label>Capacidad</label>
        <input asp-for="Capacidad" type="number" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a class="btn btn-secondary" href="/Sala/Index">Cancelar</a>
</form>
