@model Domain.Sala

<h2 class="fw-bold mb-4">Editar Sala</h2>

<form method="post">

    <a class="btn btn-secondary mt-3" href="/Admin/Dashboard">Volver</a>

     
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Ubicación</label>
        <input asp-for="Ubicacion" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Capacidad</label>
        <input asp-for="Capacidad" class="form-control" type="number" required />
    </div>

    <div class="mb-3">
        <label>Estado</label>
        <select asp-for="Estado" class="form-control" required>
            <option value="Disponible">Disponible</option>
            <option value="Ocupada">Ocupada</option>
            <option value="En mantenimiento">En mantenimiento</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Responsable (opcional)</label>
        <input asp-for="Responsable" class="form-control" />
    </div>

    <button class="btn btn-primary">Actualizar</button>
    <a class="btn btn-secondary" href="/Admin/Dashboard">Volver</a>
</form>
