@model IEnumerable<Domain.PrestamoSala>

<h2>Mis Solicitudes de Sala</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sala</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Sala.Nombre</td>
                <td>@s.FechaInicio</td>
                <td>@s.FechaFin</td>
                <td>@s.Estado</td>
            </tr>
        }
    </tbody>
</table>
