@model Domain.Usuario

<h2 class="fw-bold mb-3">Editar Usuario</h2>

<form method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Rol</label>
        <select asp-for="Rol" class="form-control">
            <option>Usuario</option>
            <option>Coordinador</option>
            <option>Admin</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Fecha Registro</label>
        <input asp-for="FechaRegistro" type="date" class="form-control" />
    </div>

    <button class="btn btn-warning">Actualizar</button>
    <a class="btn btn-secondary" href="/Usuarios">Volver</a>

</form>
